{% set title = 'Editor' %}
{% extends '_layout.html' %}

{% block head %}
	<link href="/client/css/interface.css" rel="stylesheet">
	<script src="https://aframe.io/releases/0.8.0/aframe.min.js"></script>
	<script src="https://unpkg.com/aframe-event-set-component@3.0.3/dist/aframe-event-set-component.min.js"></script>
	<script src="/client/graphics/globals.js"></script>
	<script src="/client/shortid.js"></script>
	<script src="/client/graphics/grid-interactive.js"></script>
	<script src="/client/graphics/navigation.js"></script>
{% endblock%}

{% block content %}
	<a-scene cursor="rayOrigin: mouse" id="scene">
		<a-sky color="#f8f8f8"></a-sky>
		<a-assets>
			<img id="grid-space" src="/client/textures/grid-space.png">
			<img id="grid-space-green" src="/client/textures/grid-space-green.png">
			<img id="floor-space" src="/client/textures/floor-space.png">
			<img id="floor-space-green" src="/client/textures/floor-space-green.png">
		</a-assets>

		<a-entity camera mouse-cursor navigation position="0 5 3" rotation="-45 0 0" spectator="true" id="camera" far="20000">
			<a-animation id="moveLeft" begin="moveLeft" attribute="position" from="" to=""></a-animation>
		</a-entity>

		<a-entity id="grid" rotation="-90 0 0">
		</a-entity>
		<a-box position="36 0 -32" scale="5 .5 .5" material="color: red"></a-box>
		<a-box position="36 0 -32" scale=".5 5 .5" material="color: green"></a-box>
		<a-box position="36 0 -32" scale=".5 .5 5" material="color: blue"></a-box>

		<a-sky color="#ECECEC"></a-sky>
	</a-scene>
	<nav class="toolbar container-fluid">
		<div class="row">
			<div class="col-3 navigation_controls">
				<table>
					<tr>
						<td id="short-walls-toggle" data-toggle="off"><span class="fas fa-map"></span></td>
						<td class="navigation-control" data-action="translate-forward"><span class="fas fa-chevron-up"></span></td>
						<td class="invisible"></td>
					</tr>
					<tr>
						<td rowspan="2" class="navigation-control" data-action="translate-left"><span class="fas fa-chevron-left"></span></td>
						<td class="smaller navigation-control" data-action="zoom-in"><span class="fas fa-plus d-block"></span>
						</td>
						<td rowspan="2" class="navigation-control" data-action="translate-right"><span class="fas fa-chevron-right"></span></td>
					</tr>
					<tr>
						<td class="smaller navigation-control" data-action="zoom-out"><span class="fas fa-minus"></span></td>
					</tr>
					<tr>
						<td class="navigation-control" data-action="rotate-clockwise"><span class="fas fa-redo"></span></td>
						<td class="navigation-control" data-action="translate-backward"><span class="fas fa-chevron-down"></span></td>
						<td class="navigation-control" data-action="rotate-counterclockwise"><span class="fas fa-undo"></span></td>
					</tr>
				</table>
			</div>
			<div class="col-9 mt-1">
				<button class="btn btn-secondary" id="wall-toggle" data-toggle="off">Wall</button>
				<button class="btn btn-secondary" id="floor-toggle" data-toggle="off">Floor</button>
				<button class="btn btn-secondary" id="objects-toggle" data-toggle="off">Objects</button>
				<button class="btn btn-secondary" id="media-toggle" data-toggle="modal" data-target="#media-modal">Media</button>
				<button class="btn btn-secondary" id="models-toggle" data-toggle="off">3D Models</button>
			</div>
		</div>
	</nav>
	<div class="modal fade" role="dialog" id="media-modal">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content" v-if="mode == 'list'">
				<div class="modal-header">
					<h5 class="modal-title" id="modalLabel">Media</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<div class="row" v-if="media.length < 1">
							<div class="col-md">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title">No media yet</h5>
										<p class="card-text">Add an image or video to get started.</p>
									</div>
									<div class="card-footer">
										Supported file formats: video, image
									</div>
								</div>
							</div>
						</div>
						
						<div class="row mt-3" v-if="media.length > 0" v-for="n in rows">
							<div class="col-md-3" v-for="file in show[n - 1]">
								<div class="card" v-on:click="select(file.gen_id)">
									<img class="card-img-top" v-bind:src="'/file/thumbnail/' + file.gen_id" v-bind:alt="file.description" v-bind:title="file.description">
									<div class="card-footer">
										<% file.name %>
									</div>
								</div>
							</div>
						</div>
					</div>

					<nav v-if="pages > 1" class="mt-3 mr-3">
						<ul class="pagination justify-content-end">
							<li class="page-item" v-on:click="previous_page"><button class="page-link">Previous</button></li>
							<li class="page-item" v-on:click="next_page"><button class="page-link">Next</button></li>
						</ul>
					</nav>
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" v-on:click="mode = 'uploader'">Upload</button>
				</div>
			</div>
			<div class="modal-content" v-if="mode == 'uploader'">
				<div class="modal-header">
					<h5 class="modal-title" id="modalLabel">Media Upload</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<form name="media_upload" action="/upload" method="POST" id="media_upload" enctype="multipart/form-data" v-on:submit="upload_file">
							<div class="form-row">
								<div class="col form-group">
									<label for="file_name">Name</label>
									<input type="text" class="form-control" name="file_name" id="file_name" placeholder="File name">
								</div>
								<div class="col form-group">
									<label for="file_description">Description</label>
									<input type="text" class="form-control" name="file_description" id="file_description" placeholder="File description">
								</div>
							</div>
							<div class="form-group">
								<div class="custom-file">
									<input type="file" class="custom-file-input" name="media_upload_file" id="media_upload_file">
									<label class="custom-file-label" for="media_upload_file">Choose file*</label>
								</div>
							</div>
							<div class="form-group">
								<input type="submit" class="btn btn-primary" value="Upload">
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" v-on:click="mode = 'list'">Close uploader</button>
					</div>
				</div>
			</div>

			<div class="modal-content" v-if="mode == 'place'">
				<div class="modal-header">
					<h5 class="modal-title" id="modalLabel">Place Media in Scene</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<form name="media_place" action="#" method="GET" id="media_place" v-on:submit="place_media">
							<div class="form-row">
								<div class="col form-group">
									<label for="plane_width">Plane Width</label>
									<input type="text" class="form-control" name="plane_width" id="plane_width" value="2">
								</div>
								<div class="col form-group">
									<label for="plane_height">Plane Height</label>
									<input type="text" class="form-control" name="plane_height" id="plane_height" value="1">
								</div>
							</div>
							<div class="form-group">
								<input type="submit" class="btn btn-primary" value="Place">
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" v-on:click="mode = 'list'">Close placement tool</button>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="/socket.io/socket.io.js"></script>

	<script src="/client/graphics/grid.js"></script>
	<script src="/client/toolbar.js"></script>
{% endblock %}