{% set title = 'Log In' %}
{% extends '_layout.html' %}

{% block content %}
<div class="row">
	<div class="col">
		<div class="container w-50">
			<h2>Log In</h2>
			<form name="login" action="/login" method="POST">
				<div class="form-row">
					<div class="col form-group">
						<label for="email">Email*</label>
						<input type="text" class="form-control" name="email" id="email" placeholder="Email">
					</div>
					<div class="col form-group">
						<label for="password">Password*</label>
						<input type="password" class="form-control" name="password" id="password" placeholder="Password">
					</div>
				</div>
				<div class="form-row">
					<div class="col form-group text-right">
						<button type="submit" class="btn btn-primary">Login</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}